body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.half-width{
    float: left;
    background-image: url(images/top-banner.png);
}
.half-width h1{
    font-size: 50px;
    padding-left: 120px;

}

.half-width h1 span{
    color: orange;
}
.half-width h3{
    padding-left: 120px;
}
.half-width p{
    padding-left: 120px;
    opacity: 0.7;
    
}

.hire-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-left: 120px;
    
}
.last-width img{
    width: 620px;
    padding-left: 160px;
}
.second-width img{
    width: 620px;
    padding-left: 120px;
}
.second-width{
    float: left;
}
.last-width2{
    float: right;
    padding-right: 90px;
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
    height: 600px;
}
.last-width2 h1{
    font-size: 35px;
    
}
.last-width2 p{
    opacity: 0.7;
}
.download{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(238, 76, 11), tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
.clear{
    clear: both;
}
.exp{
    background: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 550px;
    position: relative;
}
.exp h2{
    font-size: 45px;
}
.first{
    float: left;
    background-color: white;
    margin-left: 80px;
    padding: 25px;
    
    text-align: left;
    height: 300px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px gray;
    position: absolute;

}
.first h1{
    font-size: 37px;
}
.first h3{
    color: orange;
}
.first p{
    opacity: 0.7;
}
.second{
    float: right;
    background-color:white;
    margin-right: 80px;
    padding: 25px;
    text-align: left;
    height: 300px;
    border-left: 7px solid blue;
    
    box-shadow: 5px 7px 40px gray;
}

.second h1{
    font-size: 37px;
}
.second h3{
    color: orange;
}
.second p{
    opacity: 0.7;
}
.footer{
    text-align: center;
}